#root {
  background: #f1f1f1;
  width: 100%;
  min-height: 100vh;
}
.container {
  padding: 20px 0;
}
.container .inner {
  width: 1280px;
  min-height:  100%;
  margin:0 auto;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
}
.container .inner nav {
  display: flex;
  flex-flow: column;
}
.container .inner nav a {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  color:#666
}
.container .inner nav a span {
  font-weight: bold;
  color:#333
}
.container .inner nav a:last-child{
  border-bottom: none;
}